@using Lab4_App_Reservation.Models;
@using Lab4_App_Reservation.Models.ContactModels;

@model List<Contact>
<h1 class="text-2xl font-bold mb-4">Lista kontaktow</h1>
<a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Utwórz kontakt</a>
<a class="btn btn-primary" asp-controller="Contact" asp-action="CreateApi">Utwórz kontakt Api</a>
<a class="btn btn-primary" asp-controller="Contact" asp-action="PagedIndex">Stronicowana witryna</a>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(i => Model[0].Created)
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Priority.GetDisplayName()
                    </td>
                    <td>
                        @item.Created
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Contact" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-outline-info" asp-controller="Contact" asp-action="Details" asp-route-id="@item.Id">Szczególy</a>
                        <a class="btn btn-outline-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}