@using Lab4_App_Reservation.Models;
@using Lab4_App_Reservation.Models.ReservationModels;

@model List<Reservation>

<h1 class="text-2xl font-bold mb-4">Lista rezerwacji</h1>
<a asp-controller="Reservation" asp-action="Index" class="text-blue-500 text-lg hover:underline flex items-center mb-4">
    <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg>
    Powrót
</a>

<form class="mb-4" asp-controller="Reservation" asp-action="SearchIndexApi" method="get">
    <label for="search" class="block text-sm font-semibold mb-1">Szukaj według Właściciela</label>
    <input type="text" class="form-input border rounded-md p-2" id="search" name="search" value="@ViewBag.SearchTerm" />
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700">
        Szukaj
    </button>
</form>

@if (Model.Count > 0)
{
    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">
                    @Html.DisplayNameFor(i => Model[0].ContactId)
                </th>
                <th class="py-2 px-4 border-b">
                    @Html.DisplayNameFor(i => Model[0].Miasto)
                </th>
                <th class="py-2 px-4 border-b">
                    @Html.DisplayNameFor(i => Model[0].Data)
                </th>
                <th class="py-2 px-4 border-b">
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="py-2 px-4 border-b">
                        @item.ContactName
                    </td>
                    <td class="py-2 px-4 border-b">
                        @item.Miasto
                    </td>
                    <td class="py-2 px-4 border-b">
                        @item.Data.ToShortDateString()
                    </td>
                    <td class="py-2 px-4 border-b">
                        <a class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2 hover:bg-blue-700" asp-controller="Reservation" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                        <a class="bg-green-500 text-white px-4 py-2 rounded-md mr-2 hover:bg-green-700" asp-controller="Reservation" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-700" asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="mt-4">Nie znaleziono rezerwacji.</p>
}
